* {
  margin: 0;
  font-family: Open Sans, sans-serif;
}
input[type="text"] {
  font-size: 16px;
  box-shadow: 1px 2px 2px 1px #303030;
  padding: 5px;
  border: none;
  width: 191px;
}
input[type="text"]:focus {
  outline: 0; /*disable blue outline on focus*/
}
div#inputs{
  position:absolute;
  top: 24px;
  left: 80px;
}
div#examples {
  margin-top: 7px;
  margin-left: 2px;
  font-size: 12px;
  font-weight: bold;
}
div#loader_container {
  position: absolute;
  top: -2px;
  left: 210px;
  font-size: 14px;
  width: 200px;
}
div#loader_container img {
  height: 9px;
  margin-left: 2px;
}
.hidden {
  display: none;
}
a:link {
  color: #333333;
}
a:visited {
  color: #333333;
}
footer {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 15px;
}
