* {
  margin: 0;
}
div, footer, input {
  font-family: Open Sans, Droid Sans, sans-serif;
}
input[type="text"] {
  font-size: 16px;
  box-shadow: 1px 2px 2px 1px #303030;
  padding: 5px;
  border: none;
  width: 191px;
}
input[type="text"]:focus {
  outline: 0; /*disable blue outline on focus*/
}
#inputs{
  position:absolute;
  top: 24px;
  left: 80px;
}
#examples {
  margin-top: 12px;
  font-size: 13px;
  background-color: white;
  padding: 8px;
  width: 114px;
  box-shadow: 1px 2px 2px 1px #303030;
  /*font-weight: bold;*/
}
#loader_container {
  position: absolute;
  top: -2px;
  left: 210px;
  font-size: 14px;
  width: 200px;
}
#loader_container img {
  height: 9px;
  margin-left: 2px;
}
#loader {
  text-shadow: 1px 1px #3A3A3A;
}
.hidden {
  display: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
footer {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 15px;
  text-shadow: 0px 0px #474747;
}
#example-content {
  margin-left: -10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.expanded {
  background-image: url('img/expanded.png');
}
.collapsed {
  background-image: url('img/collapsed.png');
}
div#example-btn {
  width: 24px;
  height: 24px;
  top: 49px;
  left: 103px;
  position: absolute;
}
